* {
  margin: 0;
}

.main-container {
  background-color: gold;
  min-height: 100vh;
  display: flex;
}

.sidebar {
  background-color: green;
  width: 25%;
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
}

.main {
  background-color: hotpink;
  width: 100%;
  margin-left: 25%;
  min-height: 150vh;
}

.main .header {
  background-color: red;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 75%;
  height: 60px;
}

.content {
  background-color: salmon;
  margin-top: 60px;
  padding: 20px;
}

.main .header ul {
  background-color: green;
  display: flex;
}

.main .header ul li{
  padding: 20px;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.notification {
  display: inline-block;
  position: relative;
}
.notification .notification-count {
  position: absolute;
  right: 0;
  top: 0;
  background: slategrey;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}